<script type="text/template" id="profile-template">
  
  <div class="row profile-header">
    <div class="col-md-12">
      <% if @themeName == 'bootswatch' %>
        <div class="col-md-4">
          <div class="profile-div">                           
            <img rv-class-no-profile-img="user_p:avatar_url | eq noavatar" class="profile-img" rv-src-strict="user_p:avatar_url"/>          
            <div class="profile-img-save profile-img-save-hide">
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
      <%else%>
        <div class="col-md-1"/>
        <div class="col-md-11">
      <%end%>
        <div class="row profile-table-header">
          <div class="col-md-12">
            <div class="col-md-6 profile-status">
              <h3>{ user_p:lastname } {user_p:firstname }</h3>
            </div>          
            <div class="col-md-2 profile-cv">              
                <a rv-href="user_p:id | prependRoot" class="cv">CV</a>              
            </div>
          </div>
        </div>   
      <table>       
        <tr>
          <td >
            <b><%=l(:project_title)%>:</b>
          </td>
          <td>
            <div rv-show="user_p:edit_prop | eq project">
              <input rv-value="user_p:project" placeholder="<%=l(:put_projects_here) %>"/>
              <a class="emp-item-cancel" value="project">
                <i class="glyphicon glyphicon-remove">
                    Cancel
                </i>  
              </a>
              <a class="emp-item-save" value="project">
                <i class="glyphicon glyphicon-save">
                    Save
                </i>  
              </a>
            </div>
            <div rv-hide="user_p:edit_prop | eq project">
              <span rv-text="user_p:project" />                  
              <span class="glyphicon glyphicon-floppy-saved profile-notify project-notify-ok"/>
              <span class="glyphicon glyphicon-floppy-remove profile-notify project-notify-fail"/>
              <a rv-show="user_p:editable | eq true" class="edit-emp-item" rv-data-id="position:id" value="project">
                <i class="glyphicon glyphicon-pencil">
                    Edit
                </i>  
              </a>  
            </div>
          </td>
          <td>           
          </td>
        </tr>
        <tr>
          <td >
            <b><%=l(:project_extra_title)%>:</b>
          </td>
          <td>
            <div rv-show="user_p:edit_prop | eq project_extra">
              <input rv-value="user_p:project_extra" placeholder="<%=l(:put_projects_extra_here) %>"/>
              <a class="emp-item-cancel" value="project_extra">
                <i class="glyphicon glyphicon-remove">
                    Cancel
                </i>  
              </a>
              <a class="emp-item-save" value="project_extra">
                <i class="glyphicon glyphicon-save">
                    Save
                </i>  
              </a>
            </div>
            <div rv-hide="user_p:edit_prop | eq project_extra">
              <span rv-text="user_p:project_extra" />                  
              <span class="glyphicon glyphicon-floppy-saved profile-notify project_extra-notify-ok"/>
              <span class="glyphicon glyphicon-floppy-remove profile-notify project_extra-notify-fail"/>
              <a rv-show="user_p:editable | eq true" class="edit-emp-item" rv-data-id="position:id" value="project_extra">
                <i class="glyphicon glyphicon-pencil">
                    Edit
                </i>  
              </a>  
            </div>             
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:position_title)%>:</b>
          </td>
          <td>
            <div rv-show="user_p:edit_prop | eq position">
              <input rv-value="user_p:position" placeholder="<%=l(:put_position_here) %>"/>
              <a class="emp-item-cancel" value="position">
                <i class="glyphicon glyphicon-remove">
                    Cancel
                </i>  
              </a>
              <a class="emp-item-save" value="position">
                <i class="glyphicon glyphicon-save">
                    Save
                </i>  
              </a>
            </div>
            <div rv-hide="user_p:edit_prop | eq position">
              <span rv-text="user_p:position" />                  
              <span class="glyphicon glyphicon-floppy-saved profile-notify position-notify-ok"/>
              <span class="glyphicon glyphicon-floppy-remove profile-notify position-notify-fail"/>
              <a rv-show="user_p:editable | eq true" class="edit-emp-item" rv-data-id="position:id" value="position">
                <i class="glyphicon glyphicon-pencil">
                    Edit
                </i>  
              </a>  
            </div>          
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:email_title)%>:</b>
          </td>
          <td>
            { user_p:mail }
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:room_number)%>:</b>
          </td>
          <td>
            <div rv-show="user_p:edit_prop | eq room_number">
              <input rv-value="user_p:room_number" maxlength="6" placeholder="<%=l(:put_room_number_here) %>"/>
              <a class="emp-item-cancel"  value="room_number">
                <i class="glyphicon glyphicon-remove">
                    Cancel
                </i>  
              </a>
              <a class="emp-item-save" value="room_number">
                <i class="glyphicon glyphicon-save">
                    Save
                </i>  
              </a>
            </div>
            <div rv-hide="user_p:edit_prop | eq room_number">
              <span rv-text="user_p:room_number" />                  
              <span class="glyphicon glyphicon-floppy-saved profile-notify room_number-notify-ok"/>
              <span class="glyphicon glyphicon-floppy-remove profile-notify room_number-notify-fail"/>
              <a rv-show="user_p:editable | eq true" class="edit-emp-item" value="room_number">
                <i class="glyphicon glyphicon-pencil">
                    Edit
                </i>  
              </a>  
            </div>                      
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:birthday_title)%>:</b>
          </td>
          <td>
            <div rv-show="user_p:edit_prop | eq birthday">
              <input rv-value="user_p:birthday" id="birthdayPicker"/>              
            </div>
            <div rv-hide="user_p:edit_prop | eq birthday">
              <span rv-text="user_p:birthday" />
              <span class="glyphicon glyphicon-floppy-saved profile-notify birthday-notify-ok"/>
              <span class="glyphicon glyphicon-floppy-remove profile-notify birthday-notify-fail"/>
              <a rv-show="user_p:editable | eq true" class="edit-emp-item" value="birthday">
                <i class="glyphicon glyphicon-pencil">
                    Edit
                </i>  
              </a>  
            </div>             
          </td>
        </tr>
      </table>
      <% if @themeName == 'bootswatch' %>
        </div>  <!--close col-md-8-->
      <%else%>
        </div>  <!--close col-md-x for classic-->
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
        <span class="emp-item-title"><%=l(:summary_title)%></span>
        <div class="circle"/>     
       
    </div>
    <div class="col-md-9 col-md-offset-2">
      <div rv-show="user_p:edit_prop | eq summary">        
        <div contentEditable=true class="profile-data-html editable profile-summary" data-ph='<%=l(:put_summary_here) %>' data-button-class="format" rv-html="user_p:summary"/>
        <a class="emp-item-cancel" value="summary">
          <i class="glyphicon glyphicon-remove">
              Cancel
          </i>  
        </a>
        <a class="emp-item-save" value="summary">
          <i class="glyphicon glyphicon-save">
              Save
          </i>  
        </a>
      </div>
      <div rv-hide="user_p:edit_prop | eq summary">
        <span rv-html="user_p:summary" />                  
        <span class="glyphicon glyphicon-floppy-saved profile-notify summary-notify-ok"/>
        <span class="glyphicon glyphicon-floppy-remove profile-notify summary-notify-fail"/>
        <a rv-show="user_p:editable | eq true" class="edit-emp-item" value="summary">
          <i class="glyphicon glyphicon-pencil">
              Edit
          </i>  
        </a>  
      </div>      
      <div class="line-separator"/>
    </div>  
  </div>
  
  
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
        <span><%=l(:skills_title)%></span>
        <div class="circle"/>
    </div>
    <div class="col-md-9 col-md-offset-2">
      <div rv-show="user_p:edit_prop | eq skills">        
        <div contentEditable=true class="profile-data-html editable profile-skills" data-ph='<%=l(:put_skills_here) %>' data-button-class="format" rv-html="user_p:skills"/>
        <a class="emp-item-cancel" value="skills">
          <i class="glyphicon glyphicon-remove">
              Cancel
          </i>  
        </a>
        <a class="emp-item-save" value="skills">
          <i class="glyphicon glyphicon-save">
              Save
          </i>  
        </a>
      </div>
      <div rv-hide="user_p:edit_prop | eq skills">
        <span rv-html="user_p:skills" />                  
        <span class="glyphicon glyphicon-floppy-saved profile-notify skills-notify-ok"/>
        <span class="glyphicon glyphicon-floppy-remove profile-notify skills-notify-fail"/>
        <a rv-show="user_p:editable | eq true" class="edit-emp-item" value="skills">
          <i class="glyphicon glyphicon-pencil">
              Edit
          </i>  
        </a>  
      </div>     
      <div class="line-separator"/>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <span><%=l(:positions_title)%></span>
      <div class="circle"/>
    </div>
    <div>
      <a class="add-position col-md-offset-6 col-md-3">
      <span class="glyphicon glyphicon-plus" rv-show="user_p:editable | eq true">Add</span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-7">
      <div class="positions-ph">
      </div>
      <div class="line-separator"/>
    </div>  
  </div>
    
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <span><%=l(:background_title)%></span>
      <div class="circle"/>
    </div>
    <div>
      <a class="add-background col-md-offset-6 col-md-3">
      <span class="glyphicon glyphicon-plus" rv-show="user_p:editable | eq true">Add</span></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <div class="backgrounds-ph">
      </div>
      <div class="line-separator"/>
    </div>  
  </div>  
  
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <span><%=l(:coureses_title)%></span>
      <div class="circle"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <div rv-show="user_p:edit_prop | eq coureses">
        <div contentEditable=true class="editable profile-data-htm profile-coureses" data-ph='<%=l(:put_coureses_here) %>' data-prop="coureses" data-button-class="format" data-prop="coureses" rv-html="user_p:coureses">
        </div>
        <a class="emp-item-cancel"  value="coureses">
          <i class="glyphicon glyphicon-remove">
              Cancel
          </i>  
        </a>
        <a class="emp-item-save" value="coureses">
          <i class="glyphicon glyphicon-save">
              Save
          </i>  
        </a>
      </div>
      <div rv-hide="user_p:edit_prop | eq coureses">
        <span rv-html="user_p:coureses" />                  
        <span class="glyphicon glyphicon-floppy-saved profile-notify coureses-notify-ok"/>
        <span class="glyphicon glyphicon-floppy-remove profile-notify coureses-notify-fail"/>
        <a rv-show="user_p:editable | eq true" class="edit-emp-item" value="coureses">
          <i class="glyphicon glyphicon-pencil">
              Edit
          </i>  
        </a>  
      </div>      
      <div class="line-separator"/>
    </div>
  </div>  
  
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <span><%=l(:languages_title)%></span>
      <div class="circle"/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
       <div contentEditable=true class="profile-data-html" data-ph='<%=l(:put_languages_here) %>' data-prop="languages" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" data-button-class="default" data-prop="languages" rv-html="user_p:languages">
      </div>
      <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
      <div class="line-separator"/>
    </div>
  </div>  
</script>
