<script type="text/template" id="profile-template">
  <div class="row">
    <div class="col-md-12">
        <div class="col-md-4">
          <div class="profile-div">
            <%% if (profile.avatar_url === "noavatar") { %>
              <img class="profile-img no-profile-img"/>
            <%% } else {%>
              <img src=<%%- profile.avatar_url %> alt="" class="profile-img" />
            <%% } %>
            <div class="profile-img-save profile-img-save-hide">
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <table>
            <tr>
              <td>
                <div class="profile-status">
                  <span><%%-profile.lastname %> <%%-profile.firstname%></span>
                </div>
              </td>              
              <td>
                <button type="button" class="btn cv"/>
              </td>
            </tr>
            <tr>
              <td>
                <b><%=l(:project_title)%>:</b>
                <input class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data" data-button-class="default" data-prop="project" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).project)) { %><%%- $.parseJSON(profile.data).project %><%% } else {%><%=l(:put_projects_here) %><%% } %>'>
            </input>
              </td>
            </tr>
            <tr><td colspan="2">
              <b><%=l(:position_title)%>:</b>
              <input class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data" data-button-class="default" data-prop="position" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).position)) { %><%%- $.parseJSON(profile.data).position %><%% } else {%><%=l(:put_position_here) %><%% } %>'>
              </input>
            </td></tr>
            <tr><td colspan="2"><b><%=l(:email_title)%>:</b> <%%-profile.mail%></td></tr>
            <tr>
              <td colspan="2">                
                 <div>
                  <b><%=l(:room_number)%>:</b>
                  <input class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data profile-data-short" data-button-class="default" data-prop="room_number" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).room_number)) { %><%%- $.parseJSON(profile.data).room_number %><%% } else {%><%=l(:put_room_number_here) %><%% } %>'>
                </input>
                </div>
              </td>              
            </tr>
            <tr><td colspan="2">
              <div>
                <b><%=l(:birthday_title)%>:</b>
                <input class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data profile-data-short" data-button-class="default" data-prop="birthday" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).birthday)) { %><%%- $.parseJSON(profile.data).birthday %><%% } else {%><%=l(:put_birthday_here) %><%% } %>'>
                </input>
              </div>
            </td></tr>
          </table>
        </div>
    </div>
  </div>
  <div class="row">
        <div class="col-md-3 profile-lbl">
            <div class="circle"/>
            <%=l(:summary_title)%>
        </div>
        <div class="col-md-9 profile-text">
          <div class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%>" data-button-class="all" data-prop="summary">
            <%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).summary)) { %>
              <%%= $.parseJSON(profile.data).summary %>
            <%% } else {%>
              Summary
            <%% } %>
          </div>
        </div>
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-3 profile-lbl">
        <div class="circle"/>
        <%=l(:skills_title)%>
    </div>
    <div class="col-md-9 profile-text">
              <div class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%>" data-button-class="all" data-prop="skills">
                <%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).skills)) { %>
                  <%%= $.parseJSON(profile.data).skills %>
                <%% } else {%>
                  Skills
                <%% } %>
              </div>
    </div>
  </div>
  
  <div class="line-separator"/>
</script>