<script type="text/template" id="profile-template">
  <div class="row">
    <div class="col-md-12">
      <table>
        <tr>
          <td>
            <div class="profile-status">
              <h3><%%-user.lastname %> <%%-user.firstname%></h3>
            </div>
          </td>              
          <td>
            <button type="button" class="btn cv"/>
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:project_title)%>:</b>
          
            <div class="editable profile-data" data-button-class="default" data-prop="project">
              <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).project)) { %>
                <%%- $.parseJSON(user.data).project %>
              <%% } else {%>
                Put project here
              <%% } %>
            </div>
          </td>
        </tr>
        <tr><td colspan="2">
          <b><%=l(:position_title)%>:</b>
          <div class="editable profile-data" data-button-class="default" data-prop="position">
            <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).position)) { %>
              <%%- $.parseJSON(user.data).position %>
            <%% } else {%>
              Put position here
            <%% } %>
          </div>
        </td></tr>
        <tr><td colspan="2"><b><%=l(:email_title)%>:</b><%%-user.mail%></td></tr>
        <tr><td colspan="2"><b><%=l(:room_number)%>:</b>TBD</td></tr>
        <tr><td colspan="2">
          <div>
            <b><%=l(:birthday_title)%>:</b>
            <div class="editable profile-data" data-button-class="default" data-prop="birthday">
              <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).birthday)) { %>
                <%%- $.parseJSON(user.data).birthday %>
              <%% } else {%>
                Put birthday here
              <%% } %>
            </div>
          </div>
        </td></tr>
        <tr><td colspan="2"><b><%=l(:interest_title)%>:</b>TBD</td></tr>
      </table>
    </div>
  </div>
  <div class="row">
        <div class="col-md-3 profile-lbl">
            <div class="circle"/>
            <%=l(:summary_title)%>
        </div>
        <div class="col-md-9 profile-text">
          <div class="editable" data-button-class="default" data-prop="summary">
            <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).summary)) { %>
              <%%- $.parseJSON(user.data).summary %>
            <%% } else {%>
              Summary
            <%% } %>
          </div>
        </div>
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-3 profile-lbl">
        <div class="circle"/>
        <%=l(:skills_title)%>
    </div>
    <div class="col-md-9 profile-text">
              <div class="editable" data-button-class="all" data-prop="skills">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).skills)) { %>
                  <%%= $.parseJSON(user.data).skills %>
                <%% } else {%>
                  Skills
                <%% } %>
              </div>
    </div>
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-3 profile-lbl">
        <div class="circle"/>
        <%=l(:communication_skills_title)%>
    </div>
    <div class="col-md-9 profile-text">
              <div class="no-editable" data-button-class="all" data-prop="communication">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).communication)) { %>
                  <%%= $.parseJSON(user.data).communication %>
                <%% } else {%>
                  TBD
                <%% } %>
              </div>
    </div>
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-3 profile-lbl">
        <div class="circle"/>
        <%=l(:languages_title)%>
    </div>
    <div class="col-md-9 profile-text">
              <div class="no-editable" data-button-class="all" data-prop="languages">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).languages)) { %>
                  <%%= $.parseJSON(user.data).languages %>
                <%% } else {%>
                  TBD
                <%% } %>
              </div>
    </div>
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-3 profile-lbl">
        <div class="circle"/>
        <%=l(:education_title)%>
    </div>
    <div class="col-md-9 profile-text">
              <div class="no-editable" data-button-class="all" data-prop="education">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).education)) { %>
                  <%%= $.parseJSON(user.data).education %>
                <%% } else {%>
                 TBD
                <%% } %>
              </div>
    </div>
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-3 profile-lbl">
        <div class="circle"/>
        <%=l(:coureses_title)%>
    </div>
    <div class="col-md-9 profile-text">
              <div class="no-editable" data-button-class="all" data-prop="coureses">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).coureses)) { %>
                  <%%= $.parseJSON(user.data).coureses %>
                <%% } else {%>
                  TBD
                <%% } %>
              </div>
    </div>
  </div>
  <div class="line-separator"/>
</script>