<% content_for :header_tags do %>

  <% if @themeName == 'bootswatch' %>
    <%= javascript_include_tag 'lib/underscore-min.js', 'lib/backbone-min.js', 'lib/infiniScroll.js', 'lib/rivets.min.js', 'lib/etch.js', 'lib/moment.min.js', 'lib/bootstrap-growl.min.js', 'require.js', 'app.js', :plugin => 'tercomin' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'etch.css', 'tercomin.css', :plugin => 'tercomin' %>
  <% else %>
    <%= javascript_include_tag 'lib/underscore-min.js', 'lib/backbone-min.js', 'lib/infiniScroll.js', 'lib/rivets.min.js', 'lib/etch.js', 'lib/moment.min.js','lib/bootstrap-growl.min.js', 'require.js', 'app-classic.js', :plugin => 'tercomin' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'etch.css', 'tercomin-classic.css', :plugin => 'tercomin' %>
  <% end %>
<% end %>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', :plugin => 'tercomin' %>
    </a>
  </div>
  <div class="collapse navbar-collapse top-menu">
    <div class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8 search-control" placeholder="поиск">
    </div>    
    <ul class="nav navbar-nav">
      <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
      <li class="menu-item" value="employees"><a href="#employees"><%=l(:employees)%></a></li>
      <li class="menu-item" value="events"><a href="#events"><%=l(:events)%></a></li>
      <li class="menu-item" value="settings"><a href="#settings"><%=l(:settings)%></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

<div id="container-fluid" >
  <div class="col-md-1">
  </div>
  <div class="col-md-10 content">
  </div>
  <div class="col-md-1">
  </div>
</div>

<script type="text/javascript">
  $('#header').hide();
</script>



<!--version 1.3 -->

