<% content_for :header_tags do %>
  <%= javascript_include_tag 'underscore-min.js', 'backbone-min.js', 'bootstrap.min.js', 'infiniScroll.js', 'etch.js', 'utils.js', 'topView.js', 'settingsView.js', 'eventsView.js', 'profileView.js', 'employersView.js', 'tercomin.js', :plugin => 'tercomin' %>
  <% if @themeName == 'bootswatch' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'etch.css', 'tercomin.css', :plugin => 'tercomin' %>
  <% else %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'etch.css', 'tercomin-classic.css', :plugin => 'tercomin' %>
  <% end %>
<% end %>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', :plugin => 'tercomin' %>
    </a>
  </div>
  <div class="collapse navbar-collapse top-menu">
    <div class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8 search-control" placeholder="поиск">
    </div>    
    <ul class="nav navbar-nav">
      <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
      <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
      <!-- <li class="menu-item" value="events"><a href="#events"><%=l(:events)%></a></li> -->
      <li class="menu-item" value="settings"><a href="#settings"><%=l(:settings)%></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

<div id="container-fluid" >
  <div class="col-md-1">
  </div>
  <div class="col-md-10 content">
  </div>
  <div class="col-md-1">
  </div>
</div>
<script type="html/template" id="settings-template">
<div class="col-md-12">
  <div class="row theme-picker">
    <div class="col-md-1">
      <%=l(:label_theme)%>:
    </div>
    <div class="col-md-2">
      <select class="form-control theme-select">
         <%% if ((profile.settings) && ($.parseJSON(profile.settings) !== null) 
          && ($.parseJSON(profile.settings).theme !== null) && ($.parseJSON(profile.settings).theme == "bootswatch")) { %>
                <option value="default" >default</option>
                <option value="bootswatch" selected="selected"> bootswatch</option>
          <%% } else {%>
                <option value="default" selected="selected">default</option>
                <option value="bootswatch"> bootswatch</option>
          <%% } %>          
      </select> 
    </div>
  </div>
</div>
</script>
<script type="html/template" id="events-template">
  <div>
    Event item
  </div>
</script>

<script type="text/template" id="profile-template">
  <div class="row">
    <div class="col-md-12">
      <% if @themeName == 'bootswatch' %>
        <div class="col-md-4">
          <div class="profile-div">
            <%% if (profile.avatar_url === "noavatar") { %>
              <img class="profile-img no-profile-img"/>
            <%% } else {%>
              <img src=<%%- profile.avatar_url %> alt="" class="profile-img" />
            <%% } %>
            <div class="profile-img-save profile-img-save-hide">
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">      
      <%else%>
        <div class="col-md-1"/>
        <div class="col-md-11">
      <%end%>
      <table class="profile-table">
        <tr>
          <td colspan="2">
            <div class="profile-status">
              <h3><%%-profile.lastname %> <%%-profile.firstname%></h3>
            </div>
          </td>
          <td>
            <button type="button" class="btn cv"/>
          </td>
        </tr>
        <tr>
          <td >
            <b><%=l(:project_title)%>:</b>
          </td>
          <td>
            <input placeholder="<%=l(:put_projects_here) %>" class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data" data-button-class="default" data-prop="project" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).project)) { %><%%- $.parseJSON(profile.data).project %><%% } %>'>
            </input>
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td >
            <b><%=l(:project_extra_title)%>:</b>
          </td>
          <td>
            <input placeholder="<%=l(:put_projects_extra_here) %>" class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data" data-button-class="default" data-prop="project_extra" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).project_extra)) { %><%%- $.parseJSON(profile.data).project_extra %><%% } %>'>
            </input>
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:position_title)%>:</b>
          </td>
          <td>
            <input placeholder="<%=l(:put_position_here) %>" class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data" data-button-class="default" data-prop="position" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).position)) { %><%%- $.parseJSON(profile.data).position %><%% } %>'>
            </input>
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:email_title)%>:</b>
          </td>
          <td>
            <%%- profile.mail%>
          </td>
        </tr>
        <tr>
          <td>             
            <b><%=l(:room_number)%>:</b>
          </td>
          <td>
            <input placeholder="<%=l(:put_room_number_here) %>" class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data profile-data-short" data-button-class="default" maxlength="6" data-prop="room_number" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).room_number)) { %><%%- $.parseJSON(profile.data).room_number %><%% } %>'>
            </input>
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
            <span class="glyphicon glyphicon-floppy-remove profile-notify"/>
          </td>          
        </tr>
        <tr>
          <td>          
            <b><%=l(:birthday_title)%>:</b>           
          </td>
          <td>
             <input type="text" id="datepicker" class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data" data-prop="birthday" value='<%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).birthday)) { %><%%- app.getDateOfBirth($.parseJSON(profile.data).birthday) %><%% } %>'/>      
             <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
      </table>      
      <% if @themeName == 'bootswatch' %>
        </div>  <!--close col-md-8-->
      <%else%>
        </div>  <!--close col-md-x for classic-->
      <%end%>       
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 profile-lbl">        
        <span><%=l(:summary_title)%></span>
        <div class="circle"/>
    </div>
    <div class="col-md-10 profile-text">
      <div contentEditable=true data-ph='<%=l(:put_summary_here) %>' class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data-html" data-button-class="all" data-prop="summary"><%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).summary)) { %><%%= $.parseJSON(profile.data).summary %><%% } %></div>
      <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
    </div>
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-2 profile-lbl">        
        <span><%=l(:skills_title)%></span>
        <div class="circle"/>
    </div>
    <div class="col-md-10 profile-text">
      <div contentEditable=true data-ph='<%=l(:put_skills_here) %>' class="<%% if (editable) {%>editable<%% } else {%>no-editable<%%}%> profile-data-html" data-button-class="all" data-prop="skills"><%% if (($.parseJSON(profile.data) !== null) && ($.parseJSON(profile.data).skills)) { %><%%= $.parseJSON(profile.data).skills %><%% } %></div>
      <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
    </div>
  </div>
  
  <div class="line-separator"/>
</script>

<% if @themeName == 'bootswatch' %>  
  <%= render :partial => 'employers' %>
<%else%>  
  <%= render :partial => 'employers-classic' %>
<%end%>


