<% content_for :header_tags do %>
  <%= javascript_include_tag 'underscore-min.js', 'backbone-min.js', 'rivets.min.js', 'bootstrap.min.js', 'infiniScroll.js', 'etch.js', 'utils.js', 'topView.js', 'settingsView.js', 'eventsView.js', 'profileView.js', 'employersView.js', 'tercomin.js', :plugin => 'tercomin' %>
  <% if @themeName == 'bootswatch' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'etch.css', 'tercomin.css', :plugin => 'tercomin' %>
  <% else %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'etch.css', 'tercomin-classic.css', :plugin => 'tercomin' %>
  <% end %>
<% end %>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', :plugin => 'tercomin' %>
    </a>
  </div>
  <div class="collapse navbar-collapse top-menu">
    <div class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8 search-control" placeholder="поиск">
    </div>    
    <ul class="nav navbar-nav">
      <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
      <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
      <!-- <li class="menu-item" value="events"><a href="#events"><%=l(:events)%></a></li> -->
      <li class="menu-item" value="settings"><a href="#settings"><%=l(:settings)%></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

<div id="container-fluid" >
  <div class="col-md-1">
  </div>
  <div class="col-md-10 content">
  </div>
  <div class="col-md-1">
  </div>
</div>
<script type="html/template" id="settings-template">
<div class="col-md-12">
  <div class="row theme-picker">
    <div class="col-md-1">
      <%=l(:label_theme)%>:
    </div>
    <div class="col-md-2">
      <select class="form-control theme-select">
         <%% if ((profile.settings) && ($.parseJSON(profile.settings) !== null) 
          && ($.parseJSON(profile.settings).theme !== null) && ($.parseJSON(profile.settings).theme == "bootswatch")) { %>
                <option value="default" >default</option>
                <option value="bootswatch" selected="selected"> bootswatch</option>
          <%% } else {%>
                <option value="default" selected="selected">default</option>
                <option value="bootswatch"> bootswatch</option>
          <%% } %>          
      </select> 
    </div>
  </div>
</div>
</script>
<script type="html/template" id="events-template">
  <div>
    Event item
  </div>
</script>
<script type="text/template" id="profile-template">
  <div class="row">
    <div class="col-md-12">
      <% if @themeName == 'bootswatch' %>
        <div class="col-md-4">
          <div class="profile-div">
            <img rv-if="user_p:profile.avatar_url!='noavatar'" rv-src="user_p:profile.avatar_url" class="profile-img"/>            
            <div class="profile-img-save profile-img-save-hide">
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">      
      <%else%>
        <div class="col-md-1"/>
        <div class="col-md-11">
      <%end%>
      <table class="profile-table">
        <tr>
          <td colspan="2">
            <div class="profile-status">              
              <h3>{ user_p:lastname_gen } {user_p:firstname_gen }</h3>
            </div>
          </td>
          <td>                  
            <a rv-href="user_p:id_gen" class="btn cv"/>            
          </td>
        </tr>
        <tr>
          <td >
            <b><%=l(:project_title)%>:</b>
          </td>
          <td>                           
            <input type="text" data-prop="project" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" placeholder="<%=l(:put_projects_here) %>" rv-value="user_p:project_gen"/>
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td >
            <b><%=l(:project_extra_title)%>:</b>
          </td>
          <td>
             <input placeholder="<%=l(:put_projects_extra_here) %>" data-prop="project_extra" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" rv-value="user_p:project_extra_gen"/>            
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:position_title)%>:</b>
          </td>
          <td>
            <input placeholder="<%=l(:put_position_here) %>" data-prop="position" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" rv-value='user_p:position_gen'/>            
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:email_title)%>:</b>
          </td>
          <td>            
            { user_p:mail_gen }            
          </td>
        </tr>
        <tr>
          <td>             
            <b><%=l(:room_number)%>:</b>
          </td>
          <td>
            <input placeholder="<%=l(:put_room_number_here) %>" maxlength="6" data-prop="room_number" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" rv-value='user_p:room_number_gen'/>            
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
            <span class="glyphicon glyphicon-floppy-remove profile-notify"/>
          </td>          
        </tr>
        <tr>
          <td>          
            <b><%=l(:birthday_title)%>:</b>           
          </td>
          <td>
             <input type="text" id="datepicker" data-prop="birthday" class="profile-data" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" rv-value='user_p:birthday_gen'/>      
             <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
      </table>      
      <% if @themeName == 'bootswatch' %>
        </div>  <!--close col-md-8-->
      <%else%>
        </div>  <!--close col-md-x for classic-->
      <%end%>       
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 profile-lbl">        
        <span><%=l(:summary_title)%></span>
        <div class="circle"/>
    </div>
    <div class="col-md-10 profile-text">
      <div contentEditable=true data-ph='<%=l(:put_summary_here) %>' data-prop="summary" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" data-button-class="all" data-prop="summary" rv-html="user_p:summary_gen">          
      </div>
      <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
    </div>
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-2 profile-lbl">        
        <span><%=l(:skills_title)%></span>
        <div class="circle"/>
    </div>
    <div class="col-md-10 profile-text">
       <div contentEditable=true data-ph='<%=l(:put_skills_here) %>' data-prop="skills" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" data-button-class="all" data-prop="skills" rv-html="user_p:skills_gen"></div>
      <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
    </div>
  </div>
  <div class="line-separator"/>  
  
  <div class="row">
    <div class="col-md-2 position-lbl">        
        <span><%=l(:positions_title)%></span>
        <div class="circle"/>
    </div>
    <div class="col-md-9 position-text">          
      <ul>
        <li rv-each-pos="user_p:positions_gen">          
          <span>{ pos.companyName }</span>
          <span>{ pos.from }</span>
          <span>{ pos.to }</span>
          <span>{ pos.position }</span>
          <span>{ pos.project }</span>
          <span>{ pos.resp }</span>
          <span>{ pos.techSummary }</span>
          <a class="remove-position" rv-data-id="pos.guid">
            <i class="glyphicon glyphicon-remove">
                Remove
            </i>  
          </a>
        </li>
      <ul>
      <div class="row positions-ph">        
      </div>
    </div>
    <div class="col-md-1 position-status">  
      <a class="add-position">
        <i class="glyphicon glyphicon-plus">
            Add Position
        </i>  
      </a>
    </div>
  </div>    
  <div class="line-separator"/>    
</script>

<script type="text/html" id="position-template" >
  <form>    
    <div class="form-group">
      <label for="companyName">Company Name</label>
      <input type="text" class="form-control" id="companyName" placeholder="Enter company name" rv-value="position:companyName">
    </div>                 
    <div class="form-group">
      <label for="from">From</label>      
      <input type="text" class="form-control" rv-value="position:from" id="from"/>
    </div>
    <div class="form-group">
      <label for="to">To</label>  
      <input type="text" class="form-control" rv-value="position:to" id="to"/>
    </div>
    <div class="form-group">
      <label for="project">Project</label>  
      <input type="text" class="form-control" rv-value="position:project" id="project"/>
    </div>   
    <div class="form-group">
      <label for="position">Position</label>   
      <input type="text" class="form-control" rv-value="position:position" id="position"/>
    </div>
    <div class="form-group">
      <label for="resp">Responsibility</label>
      <input type="text" class="form-control" rv-value="position:resp" id="resp"/>
    </div>
    <div class="form-group">
      <label for="techSummary">Summary</label>      
      <input type="text" class="form-control" rv-value="position:techSummary" id="techSummary"/>
    </div>
      <a class="add-position-submit btn btn-primary">Save</a>
      <a class="add-position-cancel btn btn-primary">Cancel</a>    
  </form>
</script>
<% if @themeName == 'bootswatch' %>  
  <%= render :partial => 'employers' %>
<%else%>  
  <%= render :partial => 'employers-classic' %>
<%end%>


