<% content_for :header_tags do %>
  <%= javascript_include_tag 'underscore-min.js', 'backbone-min.js', 'moment-with-locales.min.js', 'rivets.min.js', 'bootstrap.min.js', 'bootstrap-datetimepicker.min.js', 'infiniScroll.js', 'etch.js', 'utils.js', 'topView.js', 'settingsView.js', 'eventsView.js', 'profileView.js', 'employersView.js', 'tercomin.js', :plugin => 'tercomin' %>
  <% if @themeName == 'bootswatch' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'etch.css', 'tercomin.css', :plugin => 'tercomin' %>
  <% else %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'bootstrap-datetimepicker.min.css', 'etch.css', 'tercomin-classic.css', :plugin => 'tercomin' %>
  <% end %>
<% end %>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', :plugin => 'tercomin' %>
    </a>
  </div>
  <div class="collapse navbar-collapse top-menu">
    <div class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8 search-control" placeholder="поиск">
    </div>    
    <ul class="nav navbar-nav">
      <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
      <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
      <!-- <li class="menu-item" value="events"><a href="#events"><%=l(:events)%></a></li> -->
      <li class="menu-item" value="settings"><a href="#settings"><%=l(:settings)%></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

<div id="container-fluid" >
  <div class="col-md-1">
  </div>
  <div class="col-md-10 content">
  </div>
  <div class="col-md-1">
  </div>
</div>
<script type="html/template" id="settings-template">
<div class="col-md-12">
  <div class="row theme-picker">
    <div class="col-md-1">
      <%=l(:label_theme)%>:
    </div>
    <div class="col-md-2">
      <select class="form-control theme-select">
         <%% if ((profile.settings) && ($.parseJSON(profile.settings) !== null) 
          && ($.parseJSON(profile.settings).theme !== null) && ($.parseJSON(profile.settings).theme == "bootswatch")) { %>
                <option value="default" >default</option>
                <option value="bootswatch" selected="selected"> bootswatch</option>
          <%% } else {%>
                <option value="default" selected="selected">default</option>
                <option value="bootswatch"> bootswatch</option>
          <%% } %>          
      </select> 
    </div>
  </div>
</div>
</script>
<script type="html/template" id="events-template">
  <div>
    Event item
  </div>
</script>
<script type="text/template" id="profile-template">
  <div class="row">
    <div class="col-md-12">
      <% if @themeName == 'bootswatch' %>
        <div class="col-md-4">
          <div class="profile-div">
            <img rv-if="user_p:avatar_url!='noavatar'" rv-src="user_p:avatar_url" class="profile-img"/>            
            <div class="profile-img-save profile-img-save-hide">
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
        <div class="col-md-8">      
      <%else%>
        <div class="col-md-1"/>
        <div class="col-md-11">
      <%end%>
      <table class="profile-table">
        <tr>
          <td colspan="2">
            <div class="profile-status">              
              <h3>{ user_p:lastname } {user_p:firstname }</h3>
            </div>
          </td>
          <td>                  
            <a rv-href="user_p:id" class="btn cv"/>            
          </td>
        </tr>
        <tr>
          <td >
            <b><%=l(:project_title)%>:</b>
          </td>
          <td>                           
            <input type="text" data-prop="project" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" placeholder="<%=l(:put_projects_here) %>" rv-value="user_p:project"/>
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td >
            <b><%=l(:project_extra_title)%>:</b>
          </td>
          <td>
             <input placeholder="<%=l(:put_projects_extra_here) %>" data-prop="project_extra" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" rv-value="user_p:project_extra"/>            
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:position_title)%>:</b>
          </td>
          <td>
            <input placeholder="<%=l(:put_position_here) %>" data-prop="position" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" rv-value='user_p:position'/>            
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
        <tr>
          <td>
            <b><%=l(:email_title)%>:</b>
          </td>
          <td>            
            { user_p:mail }            
          </td>
        </tr>
        <tr>
          <td>             
            <b><%=l(:room_number)%>:</b>
          </td>
          <td>
            <input placeholder="<%=l(:put_room_number_here) %>" maxlength="6" data-prop="room_number" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" rv-value='user_p:room_number'/>            
            <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
            <span class="glyphicon glyphicon-floppy-remove profile-notify"/>
          </td>          
        </tr>
        <tr>
          <td>          
            <b><%=l(:birthday_title)%>:</b>           
          </td>
          <td>
             <input type="text" id="datepicker" data-prop="birthday" class="profile-data" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" rv-value='user_p:birthday'/>      
             <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
          </td>
        </tr>
      </table>      
      <% if @themeName == 'bootswatch' %>
        </div>  <!--close col-md-8-->
      <%else%>
        </div>  <!--close col-md-x for classic-->
      <%end%>       
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">        
        <span><%=l(:summary_title)%></span>
        <div class="circle"/>
    </div>
    <div class="col-md-9 col-md-offset-2">
      <div contentEditable=true class="profile-data-html" data-ph='<%=l(:put_summary_here) %>' data-prop="summary" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" data-button-class="all" data-prop="summary" rv-html="user_p:summary">          
      </div>
      <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
    </div>    
    
  </div>
  <div class="line-separator"/>
  
  <div class="row">
    <div class="col-md-11 col-md-offset-1">        
        <span><%=l(:skills_title)%></span>
        <div class="circle"/>
    </div>
    <div class="col-md-9 col-md-offset-2">
       <div contentEditable=true class="profile-data-html" data-ph='<%=l(:put_skills_here) %>' data-prop="skills" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" data-button-class="all" data-prop="skills" rv-html="user_p:skills"></div>      
       <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
    </div>    
  </div>
  <div class="line-separator"/>  
  
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <span><%=l(:positions_title)%></span>
      <div class="circle"/>      
    </div>
    <div>
      <a class="add-position col-md-offset-6 col-md-3">
      <span class="glyphicon glyphicon-plus">Add</span></a>
    </div>
  </div>
  <div class="row">    
    <div class="col-md-offset-2 col-md-9">      
      <div class="positions-ph">        
      </div>
    </div>
    
  </div>    
  <div class="line-separator"/>

  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <span><%=l(:background_title)%></span>
      <div class="circle"/>      
    </div>
    <div>
      <a class="add-background col-md-offset-6 col-md-3">
      <span class="glyphicon glyphicon-plus">Add</span></a>
    </div>
  </div>
  <div class="row">    
    <div class="col-md-offset-2 col-md-9">      
      <div class="backgrounds-ph">        
      </div>
    </div>
    
  </div>    
  <div class="line-separator"/>

  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <span><%=l(:coureses_title)%></span>
      <div class="circle"/>      
    </div>   
  </div>
  <div class="row">    
    <div class="col-md-offset-2 col-md-9">      
       <div contentEditable=true class="profile-data-html" data-ph='<%=l(:put_coureses_here) %>' data-prop="coureses" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" data-button-class="default" data-prop="coureses" rv-html="user_p:coureses">          
      </div>
      <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
    </div>    
  </div>    
  <div class="line-separator"/>

  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <span><%=l(:languages_title)%></span>
      <div class="circle"/>      
    </div>   
  </div>
  <div class="row">    
    <div class="col-md-offset-2 col-md-9">      
       <div contentEditable=true class="profile-data-html" data-ph='<%=l(:put_languages_here) %>' data-prop="languages" rv-class-editable="user_p:editable" rv-class-no-editable="!user_p:editable" data-button-class="default" data-prop="languages" rv-html="user_p:languages">          
      </div>
      <span class="glyphicon glyphicon-floppy-saved profile-notify"/>
    </div>    
  </div>    
  <div class="line-separator"/>
</script>

<script type="text/html" id="position-li-template" >
  <div class='row position-container'>     
    <div class='position-info'>
      <label for="companyName">Title</label>
      <span id="companyName">{ position:companyName }</span>
      <br>
      <label for="from">From</label>
      <span id="from">{ position:from | date}</span>
      <span><b>&#8211</b></span>
      <label for="to">To</label>
      <span id="to">{ position:to | date}</span>  
      <br>

      <label for="position">Position</label>
      <span id="position">{ position:position }</span>
      
      <label for="project">Project</label>
      <span id="project">{ position:project }</span>

      <br>
      <label for="resp">Responsibility</label>
      <span id="resp">{ position:resp }</span>
      <br>
      <label for="techSummary">Summary</label>
      <span id="techSummary">{ position:techSummary }</span>
    </div>
    <div class=''>
      <a class="remove-position" rv-data-id="position:id">
        <i class="glyphicon glyphicon-remove">
            Remove
        </i>  
      </a>
      <a class="edit-position" rv-data-id="position:id">
        <i class="glyphicon glyphicon-edit">
            Edit
        </i>  
      </a>   
    </div>
    
  </div> 
  <div class="line-separator"/> 
</script>
<script type="text/html" id="position-template" >
  <form >       
    <div class="form-group col-md-6">
      <label for="companyName">Company</label>
      <input type="text" class="form-control" id="companyName" placeholder="Enter company name" rv-value="position:companyName" placeholder="Company">
    </div>  
    <div class="form-group col-md-3">
      <label for="from_edit">From</label>      
      <input type="text" class="form-control pos-date" rv-value="position:from | date" id="from_edit"/>    
    </div>      
    <div class="form-group col-md-3">
      <label for="to_edit">To</label>  
      <input type="text" class="form-control pos-date" rv-value="position:to" id="to_edit"/>  
    </div>
    <div class="form-group col-md-4">
      <label for="project">Project</label>  
      <input type="text" class="form-control" rv-value="position:project" id="project" placeholder="Project"/>
    </div>   
    <div class="form-group col-md-8">
      <label for="position">Position</label>   
      <input type="text" class="form-control" rv-value="position:position" id="position" placeholder="Position"/>
    </div>
    <div class="form-group col-md-12">
      <label for="resp">Responsibility</label>
      <textarea class="form-control" rows="3" rv-value="position:resp" id="resp" placeholder="Responsibility"></textarea>
    </div>
    <div class="form-group col-md-12">
      <label for="techSummary">Summary</label>            
      <textarea class="form-control" rows="3" rv-value="position:techSummary" id="techSummary" placeholder="Summary"></textarea>
    </div>
    <div class="form-group col-md-12">
      <a class="add-position-submit btn btn-primary">Save</a>
      <a class="add-position-cancel btn btn-primary">Cancel</a>    
    <div>    
  </form>
</script>
<% if @themeName == 'bootswatch' %>  
  <%= render :partial => 'employers' %>
<%else%>  
  <%= render :partial => 'employers-classic' %>
<%end%>


