<% content_for :header_tags do %>
  <%= javascript_include_tag 'underscore-min.js', 'backbone-min.js', 'moment.min.js', 'rivets.min.js', 'bootstrap.min.js', 'infiniScroll.js', 'etch.js', 'utils.js', 'topView.js', 'positionsView.js','backgroundsView.js', 'settingsView.js', 'eventsView.js','userEventView.js', 'profileView.js', 'employersView.js', 'tercomin.js', :plugin => 'tercomin' %>
  <% if @themeName == 'bootswatch' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'etch.css', 'tercomin.css', :plugin => 'tercomin' %>
  <% else %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'etch.css', 'tercomin-classic.css', :plugin => 'tercomin' %>
  <% end %>
<% end %>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', :plugin => 'tercomin' %>
    </a>
  </div>
  <div class="collapse navbar-collapse top-menu">
    <div class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8 search-control" placeholder="поиск">
    </div>    
    <ul class="nav navbar-nav">
      <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
      <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
      <li class="menu-item" value="events"><a href="#events"><%=l(:events)%></a></li>
      <li class="menu-item" value="settings"><a href="#settings"><%=l(:settings)%></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

<div id="container-fluid" >
  <div class="col-md-1">
  </div>
  <div class="col-md-10 content">
  </div>
  <div class="col-md-1">
  </div>
</div>
<script type="html/template" id="settings-template">
<div class="col-md-12">
  <div class="row theme-picker">
    <div class="col-md-1">
      <%=l(:label_theme)%>:
    </div>
    <div class="col-md-2">
      <select class="form-control theme-select">
         <%% if ((profile.settings) && ($.parseJSON(profile.settings) !== null) 
          && ($.parseJSON(profile.settings).theme !== null) && ($.parseJSON(profile.settings).theme == "bootswatch")) { %>
                <option value="default" >default</option>
                <option value="bootswatch" selected="selected"> bootswatch</option>
          <%% } else {%>
                <option value="default" selected="selected">default</option>
                <option value="bootswatch"> bootswatch</option>
          <%% } %>          
      </select> 
    </div>
  </div>
</div>
</script>
<script type="html/template" id="events-template">
  <div>
    Event item
  </div>
</script>
<%= render :partial => 'profile' %>

<script type="text/html" id="position-li-template" >
  <div class='row position-container'>     
    <div class='position-info'>
      <label for="companyName">Company</label>
      <span id="companyName">{ position:companyName }</span>
      <br>
      <label for="from">From</label>
      <span id="from">{ position:from | date}</span>
      <span><b>&#8211</b></span>
      <label for="to">To</label>
      <span id="to">{ position:to | date}</span>  
      <br>

      <label for="position">Position</label>
      <span id="position">{ position:position }</span>
      <br>
      <label for="project">Project</label>
      <span id="project">{ position:project }</span>

      <br>
      <label for="resp">Responsibility</label>
      <span id="resp">{ position:resp }</span>      
    </div>
    <div rv-show="position:editable | eq true">
      <a class="remove-position" rv-data-id="position:id">
        <i class="glyphicon glyphicon-remove">
            Remove
        </i>  
      </a>
      <a class="edit-position" rv-data-id="position:id">
        <i class="glyphicon glyphicon-edit">
            Edit
        </i>  
      </a>   
    </div>    
    <div class="line-separator-gray"/> 
  </div>   
</script>

<script type="text/html" id="position-template" >
  <form >       
    <div class="form-group col-md-4">
      <label for="companyName">Company</label>
      <input type="text" class="form-control" id="companyName" placeholder="Company name" rv-value="position:companyName" placeholder="Company">
    </div>  
    <div class="form-group col-md-4">
      <label for="from_edit">From</label>      
      <input type="text" class="form-control pos-from" rv-value="position:from | date" id="from_edit"/>    
    </div>      
    <div class="form-group col-md-4">
      <label for="to_edit">To</label>  
      <input type="text" class="form-control pos-to" rv-value="position:to | date" id="to_edit"/>  
    </div>
    <div class="form-group col-md-4">
      <label for="project">Project</label>  
      <input type="text" class="form-control" rv-value="position:project" id="project" placeholder="Project"/>
    </div>   
    <div class="form-group col-md-8">
      <label for="position">Position</label>   
      <input type="text" class="form-control" rv-value="position:position" id="position" placeholder="Position"/>
    </div>
    <div class="form-group col-md-12">
      <label for="resp">Responsibility</label>
      <textarea class="form-control" rows="3" rv-value="position:resp" id="resp" placeholder="Responsibility"></textarea>
    </div>    
    <div class="form-group col-md-12">
      <a class="add-position-submit btn btn-primary">Save</a>
      <a class="add-position-cancel btn btn-primary">Cancel</a>    
    <div>    
  </form>
</script>

<script type="text/html" id="background-template" >
  <form>           
    <div class="form-group col-md-4">
      <label for="from_edit">From</label>      
      <input type="text" class="form-control background-from" rv-value="background:from | date" id="from_edit"/>    
    </div>      
    <div class="form-group col-md-4">
      <label for="to_edit">To</label>  
      <input type="text" class="form-control background-to" rv-value="background:to | date" id="to_edit"/>  
    </div>
    <div class="form-group col-md-4">
      <label for="eduName">Title</label>
      <input type="text" class="form-control" id="eduName" placeholder="University Title" rv-value="background:name" placeholder="Title">
    </div>    
    <div class="form-group col-md-12">
      <a class="add-background-submit btn btn-primary">Save</a>
      <a class="add-background-cancel btn btn-primary">Cancel</a>    
    <div>    
  </form>
</script>

<script type="text/html" id="background-li-template" >
  <div class='row background-container'>     
    <div class='background-info'>          
      <label for="from">From</label>
      <span id="from">{ background:from | date}</span>
      <span><b>&#8211</b></span>
      <label for="to">To</label>
      <span id="to">{ background:to | date}</span>            
      <label for="eduName">Title</label>
      <span id="eduName">{ background:name }</span>
    </div>
    <div rv-show="background:editable | eq true">
      <a class="remove-background" rv-data-id="background:id">
        <i class="glyphicon glyphicon-remove">
            Remove
        </i>  
      </a>
      <a class="edit-background" rv-data-id="background:id">
        <i class="glyphicon glyphicon-edit">
            Edit
        </i>  
      </a>   
    </div>    
    <div class="line-separator-gray"/> 
  </div>   
</script>

<script type="text/html" id="event-li-template" >
  <div class='row event-container'>     
    <div class='event-info'>
      <label for="eventName">Title</label>
      <a rv-href-rooted="evnt:event.id" data-root='#user_event/<%= @currentUserId %>_'>{evnt:event.name}</a>
    </div> 
    <div class="line-separator-gray"/> 
  </div>   
</script>

<script type="text/html" id="user-event-template">
  <div class='row ue-container'>
    <div class="col-md-12"> 
      <div class="col-md-12">
        <form class="questions-ph"/>
        <div class="questions-buttons">
          <a class="ue-submit btn btn-primary">Save</a>
          <a class="ue-cancel btn btn-primary">Cancel</a>    
        <div>
      </div>      
      <div class="line-separator-gray"/> 
    <div>
  </div>   
</script>

<script type="text/html" id="hr-emp-view" >
<div class="row hr-view">
  <div class="col-md-12">
    <h2>{t:eventname}</h2>
  </div>
</div
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="emp-ph">
      </div>
    </div>
    <div class="col-md-6">
      <div class="mgrs-ph">
      </div>
    </div>
  <div>
<div>
</script>

<script type="text/html" id="questions-header-template" >
  <div class="form-group col-md-12 questions-header">
    <span class="fio">{t.lastname} </span>
    <span class="fio"> {t.firstname}</span>
    <span class="fio" rv-unless="t.lastname" rv-text="t.lastnameRu"></span>
    <span class="fio" rv-unless="t.firstname" rv-text="t.firstnameRu"></span>
    <br>
    <label for="uPosition">Position: </label>
    <span id="uPosition"> {t.position}</span>
    <br/>
    <label for="uProject">Project: </label>
    <span id="uProject"> {t.project}</span>
    <br/>
    <label for="uExtraProject">Extra project: </label>
    <span id="uExtraProject"> {t.extraProject}</span>
    <br/>
    <label for="uCreatedOn">Employment date: </label>
    <span id="uCreatedOn"> {t.created_on | date}</span>
  </div> 
</script>

<script type="text/html" id="question-li-template" >
  <div class="form-group col-md-12 question-item">
    <span id="questionName">{ t:q }</span>
    <input type="text" class="form-control" rv-value="t:a"/>
  </div> 
</script>

<script type="text/html" id="headerq-li-template" >
  <div class="form-group col-md-12 question-header">
    <span>{ t:qh }</span>
  </div> 
</script>

<script type="text/html" id="qualityq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:qq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:lbl_qualitya1)%></option>
      <option value=2><%=l(:lbl_qualitya2)%></option>
      <option value=3><%=l(:lbl_qualitya3)%></option>
      <option value=4><%=l(:lbl_qualitya4)%></option>
      <option value=5><%=l(:lbl_qualitya5)%></option>
      <option value=6><%=l(:lbl_qualitya6)%></option>
      <option value=7><%=l(:lbl_qualitya7)%></option>
      <option value=8><%=l(:lbl_qualitya8)%></option>
      <option value=9><%=l(:lbl_qualitya9)%></option>
      <option value=10><%=l(:lbl_qualitya10)%></option>
      <option value=11><%=l(:lbl_qualitya11)%></option>
      <option value=12><%=l(:lbl_qualitya12)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="loyalityq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:lq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:loyalitya1)%></option>
      <option value=2><%=l(:loyalitya2)%></option>
      <option value=3><%=l(:loyalitya3)%></option>
      <option value=4><%=l(:loyalitya4)%></option>
      <option value=5><%=l(:loyalitya5)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="personalq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:rq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:general_text_Yes)%></option>
      <option value=2><%=l(:general_text_No)%></option>
      <option value=3><%=l(:personal_Not_Now)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="bonusq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:bq }</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:bonus_q_1)%></option>
      <option value=2><%=l(:bonus_q_2)%></option>
      <option value=3><%=l(:bonus_q_3)%></option>
      <option value=4><%=l(:bonus_q_4)%></option>
      <option value=4><%=l(:bonus_q_5)%></option>
      <option value=4><%=l(:bonus_q_6)%></option>
      <option value=4><%=l(:bonus_q_7)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="satisfactionq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:sq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:satisfaction_q_1)%></option>
      <option value=2><%=l(:satisfaction_q_2)%></option>
      <option value=3><%=l(:satisfaction_q_3)%></option>
      <option value=4><%=l(:satisfaction_q_4)%></option>
      <option value=5><%=l(:satisfaction_q_5)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="easyq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:eq }</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:bonus_q_1)%></option>
      <option value=2><%=l(:general_text_Yes)%></option>
      <option value=3><%=l(:general_text_No)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="corrq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:cq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:corr_q_1)%></option>
      <option value=2><%=l(:corr_q_2)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="activityq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:aq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:activity_q_1)%></option>
      <option value=2><%=l(:activity_q_2)%></option>
      <option value=3><%=l(:activity_q_3)%></option>
      <option value=3><%=l(:activity_q_4)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="freeformq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:fq }:</span>
    <textarea class="form-control" rv-value="t:a"></textarea>
  </div> 
</script>

<script type="text/html" id="mgr-emp-li-template" >
  <div class="form-group col-md-12 questionItem">
    <label for="group">Group: </label>
    <span id="group">{ t:header }</span>
    <br>
    <label for="employee">Employee: </label>
    <span>{ t:employee }</span>
    <br>
    <span>Вопрос:</span>
    <input type="text" class="form-control" rv-value="t:a"/>
    <span>Вопрос:</span>
    <input type="text" class="form-control" rv-value="t:a"/>
    <span>Вопрос:</span>
    <input type="text" class="form-control" rv-value="t:a"/>
  </div> 
</script>

<% if @themeName == 'bootswatch' %>  
  <%= render :partial => 'employers' %>
<%else%>  
  <%= render :partial => 'employers-classic' %>
<%end%>


