<% content_for :header_tags do %>

  <% if @themeName == 'bootswatch' %>
    <%= javascript_include_tag 'lib/underscore-min.js', 'lib/backbone-min.js', 'lib/infiniScroll.js', 'lib/rivets.min.js', 'lib/etch.js', 'lib/moment.min.js', 'require.js', 'app.js', :plugin => 'tercomin' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'etch.css', 'tercomin.css', :plugin => 'tercomin' %>
  <% else %>
    <%= javascript_include_tag 'lib/underscore-min.js', 'lib/backbone-min.js', 'lib/infiniScroll.js', 'lib/rivets.min.js', 'lib/etch.js', 'lib/moment.min.js', 'require.js', 'app-classic.js', :plugin => 'tercomin' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'etch.css', 'tercomin-classic.css', :plugin => 'tercomin' %>
  <% end %>
<% end %>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', :plugin => 'tercomin' %>
    </a>
  </div>
  <div class="collapse navbar-collapse top-menu">
    <div class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8 search-control" placeholder="поиск">
    </div>    
    <ul class="nav navbar-nav">
      <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
      <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
      <li class="menu-item" value="events"><a href="#events"><%=l(:events)%></a></li>
      <li class="menu-item" value="settings"><a href="#settings"><%=l(:settings)%></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

<div id="container-fluid" >
  <div class="col-md-1">
  </div>
  <div class="col-md-10 content">
  </div>
  <div class="col-md-1">
  </div>
</div>

<script type="text/html" id="user-event-template">
  <div class='row ue-container'>
    <div class="col-md-12"> 
      <div class="col-md-12">
        <form class="questions-ph"/>
        <div class="questions-buttons">
          <a class="ue-submit btn btn-primary">Save</a>
          <a class="ue-cancel btn btn-primary">Cancel</a>    
        <div>
      </div>      
      <div class="line-separator-gray"/> 
    <div>
  </div>   
</script>

<script type="text/html" id="hr-emp-view" >
<div class="row hr-view">
  <div class="col-md-12">
    <h2>{t:eventname}</h2>
  </div>
</div
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="emp-ph">
      </div>
    </div>
    <div class="col-md-6">
      <div class="mgrs-ph">
      </div>
    </div>
  <div>
<div>
</script>

<script type="text/html" id="questions-header-template" >
  <div class="form-group col-md-12 questions-header">
    <span class="fio">{t.lastname} </span>
    <span class="fio"> {t.firstname}</span>
    <span class="fio" rv-unless="t.lastname" rv-text="t.lastnameRu"></span>
    <span class="fio" rv-unless="t.firstname" rv-text="t.firstnameRu"></span>
    <br>
    <label for="uPosition">Position: </label>
    <span id="uPosition"> {t.position} </span>

    <span rv-if="t.peons"> (</span>
      <a rv-each-i="t.peons" rv-href-rooted="i.id" data-root='#user_event/'>
          {i.name} 
      </a>
    <span rv-if="t.peons">)</span>
    <br/>
    <label for="uProject">Project: </label>
    <span id="uProject"> {t.project}</span>
    <br/>
    <label for="uExtraProject">Extra project: </label>
    <span id="uExtraProject"> {t.extraProject}</span>
    <br/>
    <label for="uCreatedOn">Employment date: </label>
    <span id="uCreatedOn"> {t.created_on | date}</span>
  </div> 
</script>

<script type="text/html" id="question-li-template" >
  <div class="form-group col-md-12 question-item">
    <span id="questionName">{ t:q }</span>
    <input type="text" class="form-control" rv-value="t:a"/>
  </div> 
</script>

<script type="text/html" id="headerq-li-template" >
  <div class="form-group col-md-12 question-header">
    <span>{ t:qh }</span>
  </div> 
</script>

<script type="text/html" id="qualityq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:qq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:lbl_qualitya1)%></option>
      <option value=2><%=l(:lbl_qualitya2)%></option>
      <option value=3><%=l(:lbl_qualitya3)%></option>
      <option value=4><%=l(:lbl_qualitya4)%></option>
      <option value=5><%=l(:lbl_qualitya5)%></option>
      <option value=6><%=l(:lbl_qualitya6)%></option>
      <option value=7><%=l(:lbl_qualitya7)%></option>
      <option value=8><%=l(:lbl_qualitya8)%></option>
      <option value=9><%=l(:lbl_qualitya9)%></option>
      <option value=10><%=l(:lbl_qualitya10)%></option>
      <option value=11><%=l(:lbl_qualitya11)%></option>
      <option value=12><%=l(:lbl_qualitya12)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="loyalityq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:lq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:loyalitya1)%></option>
      <option value=2><%=l(:loyalitya2)%></option>
      <option value=3><%=l(:loyalitya3)%></option>
      <option value=4><%=l(:loyalitya4)%></option>
      <option value=5><%=l(:loyalitya5)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="personalq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:rq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:general_text_Yes)%></option>
      <option value=2><%=l(:general_text_No)%></option>
      <option value=3><%=l(:personal_Not_Now)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="bonus_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:bonus_q }</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:bonus_q_1)%></option>
      <option value=2><%=l(:bonus_q_2)%></option>
      <option value=3><%=l(:bonus_q_3)%></option>
      <option value=4><%=l(:bonus_q_4)%></option>
      <option value=5><%=l(:bonus_q_5)%></option>
      <option value=6><%=l(:bonus_q_6)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="insurance_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:insurance_q }</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:insurance_q_1)%></option>
      <option value=2><%=l(:insurance_q_2)%></option>
      <option value=3><%=l(:insurance_q_3)%></option>
      <option value=4><%=l(:insurance_q_4)%></option>
      <option value=5><%=l(:insurance_q_5)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="interest_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:interest_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:interest_q_1)%></option>
      <option value=2><%=l(:interest_q_2)%></option>
      <option value=3><%=l(:interest_q_3)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="correspond_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:correspond_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:correspond_q_1)%></option>
      <option value=2><%=l(:correspond_q_2)%></option>
      <option value=3><%=l(:correspond_q_3)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="prospects_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:prospects_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:prospects_q_1)%></option>
      <option value=2><%=l(:prospects_q_2)%></option>
      <option value=3><%=l(:prospects_q_3)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="myqualification_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:myqualification_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:myqualification_q_1)%></option>
      <option value=2><%=l(:myqualification_q_2)%></option>
      <option value=3><%=l(:myqualification_q_3)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="info_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:info_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:info_q_1)%></option>
      <option value=2><%=l(:info_q_2)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="workspace_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:workspace_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:workspace_q_1)%></option>
      <option value=2><%=l(:workspace_q_2)%></option>
      <option value=3><%=l(:workspace_q_3)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="infra_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:infra_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:infra_q_1)%></option>
      <option value=2><%=l(:infra_q_2)%></option>
      <option value=3><%=l(:infra_q_3)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="salary_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:salary_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:salary_q_1)%></option>
      <option value=2><%=l(:salary_q_2)%></option>
      <option value=3><%=l(:salary_q_3)%></option>
      <option value=4><%=l(:salary_q_4)%></option>
      <option value=5><%=l(:salary_q_5)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="feedback_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:feedback_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:feedback_q_1)%></option>
      <option value=2><%=l(:feedback_q_2)%></option>
      <option value=3><%=l(:feedback_q_3)%></option>
      <option value=4><%=l(:feedback_q_4)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="help_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:help_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:help_q_1)%></option>
      <option value=2><%=l(:help_q_2)%></option>
      <option value=3><%=l(:help_q_3)%></option>
      <option value=4><%=l(:help_q_4)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="relationship_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:relationship_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:relationship_q_1)%></option>
      <option value=2><%=l(:relationship_q_2)%></option>
      <option value=3><%=l(:relationship_q_3)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="desire_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:desire_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:desire_q_1)%></option>
      <option value=2><%=l(:desire_q_2)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="satisfied_q-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:satisfied_q }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:satisfied_q_1)%></option>
      <option value=2><%=l(:satisfied_q_2)%></option>      
    </select>
  </div> 
</script>

<script type="text/html" id="satisfactionq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:sq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:satisfaction_q_1)%></option>
      <option value=2><%=l(:satisfaction_q_2)%></option>
      <option value=3><%=l(:satisfaction_q_3)%></option>
      <option value=4><%=l(:satisfaction_q_4)%></option>
      <option value=5><%=l(:satisfaction_q_5)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="easyq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:eq }</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:bonus_q_1)%></option>
      <option value=2><%=l(:general_text_Yes)%></option>
      <option value=3><%=l(:general_text_No)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="corrq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:cq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:corr_q_1)%></option>
      <option value=2><%=l(:corr_q_2)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="activityq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:aq }:</span>
    <select class="form-control" rv-value="t:a">
      <option value=1><%=l(:activity_q_1)%></option>
      <option value=2><%=l(:activity_q_2)%></option>
      <option value=3><%=l(:activity_q_3)%></option>
      <option value=4><%=l(:activity_q_4)%></option>
    </select>
  </div> 
</script>

<script type="text/html" id="freeformq-li-template" >
  <div class="form-group col-md-12 question-item">
    <span>{ t:fq }:</span>
    <textarea class="form-control" rv-value="t:a"></textarea>
  </div> 
</script>

<script type="text/html" id="mgr-emp-li-template" >
  <div class="form-group col-md-12 questionItem">
    <label for="group">Group: </label>
    <span id="group">{ t:header }</span>
    <br>
    <label for="employee">Employee: </label>
    <span>{ t:employee }</span>
    <br>
    <span>Вопрос:</span>
    <input type="text" class="form-control" rv-value="t:a"/>
    <span>Вопрос:</span>
    <input type="text" class="form-control" rv-value="t:a"/>
    <span>Вопрос:</span>
    <input type="text" class="form-control" rv-value="t:a"/>
  </div> 
</script>

<script type="text/javascript">
  $('#header').hide();
</script>


