<% content_for :header_tags do %>
  <%= javascript_include_tag 'jquery-1.11.0.min.js', 'underscore-min.js', 'backbone-min.js', 'bootstrap.min.js', 'infiniScroll.js', 'etch.js', 'utils.js', 'topView.js', 'settingsView.js', 'eventsView.js', 'profileView.js', 'employersView.js', 'tercomin.js', :plugin => 'tercomin' %>
  <% if @themeName == 'bootswatch' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'etch.css', 'tercomin.css', :plugin => 'tercomin' %>
  <% else %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'etch.css', 'tercomin-classic.css', :plugin => 'tercomin' %>
  <% end %>
<% end %>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag 'logo.png', :plugin => 'tercomin' %>
    </a>
  </div>
  <div class="collapse navbar-collapse top-menu">
    <div class="navbar-form navbar-right">
      <input type="text" class="form-control col-lg-8 search-control" placeholder="поиск">
    </div>
    <!-- <div class="demo_lbl">
      <span>Demo. All changes will be reverted.</span>
    </div> -->
    <ul class="nav navbar-nav">
      <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
      <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
      <li class="menu-item" value="events"><a href="#events"><%=l(:events)%></a></li>
      <li class="menu-item" value="settings"><a href="#settings"><%=l(:settings)%></a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

<div id="container-fluid" >
  <div class="col-md-1">
  </div>
  <div class="col-md-10 content">
  </div>
  <div class="col-md-1">
  </div>
</div>
<script type="html/template" id="settings-template">
<div class="col-md-12">
  <div class="row theme-picker">
    <div class="col-md-1">
      <%=l(:label_theme)%>:
    </div>
    <div class="col-md-2">
      <select class="form-control theme-select">
         <%% if ((profile.settings) && ($.parseJSON(profile.settings) !== null) 
          && ($.parseJSON(profile.settings).theme !== null) && ($.parseJSON(profile.settings).theme == "bootswatch")) { %>
                <option value="default" >default</option>
                <option value="bootswatch" selected="selected"> bootswatch</option>
          <%% } else {%>
                <option value="default" selected="selected">default</option>
                <option value="bootswatch"> bootswatch</option>
          <%% } %>          
      </select> 
    </div>
  </div>
</div>
</script>
<script type="html/template" id="events-template">
  <div>
    Event item
  </div>
</script>

<% if @themeName == 'bootswatch' %>
  <%= render :partial => 'profile' %>
  <%= render :partial => 'employers' %>
<%else%>
  <%= render :partial => 'profile-classic' %>
  <%= render :partial => 'employers-classic' %>
<%end%>

