<!DOCTYPE html>
<head>
  <% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery-1.11.0.min.js', 'underscore-min.js', 'backbone-min.js', 'infiniScroll.js', 'etch.js', 'utils.js', 'topView.js', 'profileView.js', 'employersView.js', 'intercom.js', :plugin => 'intercom' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'etch.css', 'intercom.css', :plugin => 'intercom' %>
  <% end %>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tercom IN</a>
    </div>
    <div class="collapse navbar-collapse top-menu">
      <ul class="nav navbar-nav">
        <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
        <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
        <li class="menu-item" value="news"><a href="#news"><%=l(:news)%></a></li>
        <li class="menu-item" value="groups"><a href="#groups"><%=l(:groups)%></a></li>
      </ul>
      <div class="navbar-form navbar-right">
        <input type="text" class="form-control col-lg-8 search-control" placeholder="Search">
        <button type="button" class="btn btn-default btn-search">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      </div>
    </div><!--/.nav-collapse -->
  </div>
  <div id="container-fluid" >
    <div class="col-md-1">
    </div>
    <div class="col-md-10 content">
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <script type="html/template" id="employer-template">
    <div class="row">
      <div class="col-md-12">
        <div class="row employer_row">
          <div class="col-md-2 employer_img">
             <a href='#mypage/<%%- user.id %>'>
                <%% if (user.avatar_url == "noavatar") { %>
                  <img class="no-profile-img"/>
                <%% } else {%>
                  <img src=<%%- user.avatar_url %> alt="" class="profile-img" />
                <%% } %>
             </a>
          </div>
          <div class="col-md-10">
            <label><%%- user.lastname %></label>
            <label><%%- user.firstname %></label>
            <br>
            <label><%=l(:skills_title)%>:</label>
            <label><%%- user.skills %></label>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </script>
  <script type="text/template" id="profile-template">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
              <img id="picture"/>
              <div class="profile-div">
                 <%% if (user.avatar_url == "noavatar") { %>
                   <img class="no-profile-img"/>
                 <%% } else {%>
                   <img src=<%%- user.avatar_url %> alt="" class="profile-img" />
                 <%% } %>
              </div>
          </div>
          <div class="col-md-10">
            <table>
              <tbody>
                <tr>
                <td ><h2><%%-user.firstname%> <%%-user.lastname %></h2></td>
                
                <!--button type="button" class="btn btn-primary">CV</button-->
                </tr>
                <tr>
                <td><b><%=l(:project_title)%>:</b> <%%-user.project%></td>
                </tr>
                <tr>
                <td><b><%=l(:position_title)%>:</b> <%%-user.position%></td>
                </tr>
                <tr>
                <td><b><%=l(:email_title)%>:</b> <%%-user.mail%></td>
                </tr>
                <tr>
                <td><b><%=l(:room_number)%>:</b>TBD</td>
                </tr>
                <tr>
                <td><b><%=l(:birthday_title)%>:</b> <%%-user.birthday%></td>
                </tr>              
                <tr>
                <td><b><%=l(:interest_title)%>:</b> TBD </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <h4><%=l(:summary_title)%></h4>            
          </div>        
          <div class="col-md-10">
            <div class="summaryPh">              
              <div class="editable summary-skills" data-button-class="all">
                <%% if (user.summary) { %><%%= user.summary %><%% } else {%>Summary<%% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <h4><%=l(:skills_title)%></h4>            
          </div>        
          <div class="col-md-10">
            <div class="skillsPh">              
              <div class="editable profile-skills" data-button-class="all">
                <%% if (user.skills) { %><%%= user.skills %><%% } else {%>Skills<%% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <h4><%=l(:communication_skills_title)%></h4>
          </div>        
          <div class="col-md-10">
            TBD
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <h4><%=l(:languages_title)%></h4>
          </div>        
          <div class="col-md-10">
            TBD
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <h4><%=l(:education_title)%></h4>
          </div>        
          <div class="col-md-10">
            TBD
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2">
            <h4><%=l(:coureses_title)%></h4>
          </div>        
          <div class="col-md-10">
            TBD
          </div>
        </div>
      </div>
    </div>
  </script>
</body>
<h4>