<!DOCTYPE html>
<head>
  <% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery-1.11.0.min.js', 'underscore-min.js', 'backbone-min.js', 'intercom_views.js', 'intercom.js', :plugin => 'intercom' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'intercom.css', :plugin => 'intercom' %>
  <% end %>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tercom IN</a>
    </div>
    <div class="collapse navbar-collapse top-menu">
      <ul class="nav navbar-nav">
        <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
        <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
        <li class="menu-item" value="news"><a href="#news"><%=l(:news)%></a></li>
        <li class="menu-item" value="groups"><a href="#groups"><%=l(:groups)%></a></li>
      </ul>
      <div class="navbar-form navbar-right">
        <input type="text" class="form-control col-lg-8 search-control" placeholder="Search">
        
          <button type="button" class="btn btn-default btn-search">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        
      </div>
    </div><!--/.nav-collapse -->
  </div>
  <div id="container-fluid" >
    <div class="col-md-1">
    </div>
    <div class="col-md-10 content">
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <script type="text/template" id="employer-template">
    <div class="row">
      <div class="col-md-12">
        <div class="row employer_row">
          <div class="col-md-2 employer_img">            
             <a href='#mypage/<%%- user_profile.user_id %>'>
                <img src="http://img.biskvit.info/GV.png" alt="" />
             </a>
          </div>
          <div class="col-md-10">
            <!-- <label>user_id:</label> -->
            <!-- <label><%%- user_profile.user_id %></label> -->
            <label><%%- user_profile.name %></label>
            <label><%%- user_profile.first_name %></label>
            <br>
            <label><%=l(:skills)%>:</label>
            <label><%%- user_profile.skills %></label>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </script>
  <script type="text/template" id="employer-detail-template">
   <div class="row">
     <div class="col-md-12">
       <div class="row employer_row">
          <table>
            <tbody>
              <tr>
                <td style="width: 200px;">
                <div class="col-md-2 employer_img">
                <table style="height: 394px;">
                  <tbody>
                    <tr>
                      <td colspan="2" style="width: 200px;">
                      <img style="width: 200px; height: 200px;" src="http://img.biskvit.info/GV.png" alt=""></td>
                    </tr>
                    <tr>
                      <td style="width: 120px; height: 50px;">Лучший сотрудник</td>
                      <td style="width: 80px; height: 50px;">Где сидит</td>
                    </tr>
                    <tr>
                      <td style="width: 120px; height: 60px;">25 тт-ок</td>
                      <td style="width: 80px; height: 60px;">Хвалить!!!</td>
                    </tr>
                    <tr>
                      <td colspan="2" style="width: 200px; height: 50px;">Сообщение</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                </td>
                <td style="width: 20px;"></td>
                <td style="width: 100%;">
                <div class="col-md-10">
                <table style="width: 600px; height: 400px;">
                  <tbody>
                    <tr>
                      <td style="width: 410px; height: 70px;">Анастасия Студень<%%-user_profile.name%> <%%-user_profile.first_name %></td>
                      <td style="width: 10px; height: 70px;"></td>
                      <td style="width: 80px; height: 70px;">CV</td>
                    </tr>
                    <tr>
                      <td colspan="3" style="width: 410px; height: 37px;">Проект: <%%-user_profile.project%></td>
                    </tr>
                    <tr>
                      <td colspan="3" style="width: 410px; height: 7px;">Должность: <%%-user_profile.project%></td>
                    </tr>
                    <tr>
                      <td colspan="3" style="width: 410px;">e-mail: <%%-user_profile.project%></td>
                    </tr>
                    <tr>
                      <td colspan="3" style="width: 410px;">Номер комнаты: <%%-user_profile.project%></td>
                    </tr>
                    <tr>
                      <td colspan="3" style="width: 410px;">День рождения: <%%-user_profile.project%></td>
                    </tr>
                    <tr>
                      <td colspan="3" style="width: 410px;">Работаю в компании: <%%-user_profile.project%></td>
                    </tr>
                    <tr>
                      <td colspan="3" style="width: 410px;">Мои интересы: <%%-user_profile.project%></td>
                    </tr>
<!-- <label>user_id:</label><label><%%- user_profile.user_id %></label>-->
                  </tbody>
                </table>
                </div>
                </td>
              </tr>
              <tr>
                <td colspan="3">Технические навыки
                  <hr><label><%=l(:skills)%>:</label>
                  <label><%%-user_profile.skills %></label>
                </td>
              </tr>
              <tr>
                <td colspan="3">Коммуникативные навыки<hr></td>
              </tr>
              <tr>
                <td colspan="3">Иностранные языки<hr></td>
              </tr>
              <tr>
                <td colspan="3">Образование<hr></td>
              </tr>
              <tr>
                <td colspan="3">Курсы и теренинги<hr></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </script>
</body>
