<!DOCTYPE html>
<head>
  <% content_for :header_tags do %>
    <%= javascript_include_tag 'jquery-1.11.0.min.js', 'underscore-min.js', 'backbone-min.js', 'infiniScroll.js', 'etch.js', 'utils.js', 'topView.js', 'profileView.js', 'employersView.js', 'intercom.js', :plugin => 'intercom' %>
    <%= stylesheet_link_tag 'bootstrap.min.css', 'bootstrap.css.map', 'etch.css', 'intercom.css', :plugin => 'intercom' %>
  <% end %>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img class="logo-img"/></a>
    </div>
    <div class="collapse navbar-collapse top-menu">
      <ul class="nav navbar-nav">
        <li class="menu-item" value="mypage"><a href="#mypage"><%=l(:my_page)%></a></li>
        <li class="menu-item" value="employers"><a href="#employers"><%=l(:employers)%></a></li>
        <!--li class="menu-item" value="news"><a href="#news"><%=l(:news)%></a></li>
        <li class="menu-item" value="groups"><a href="#groups"><%=l(:groups)%></a></li-->
      </ul>
      <div class="navbar-form navbar-right">
        <input type="text" class="form-control col-lg-8 search-control" placeholder="поиск">
<!--
        <button type="button" class="btn btn-default btn-search">
          <span class="glyphicon glyphicon-search"></span>
        </button>
-->
      </div>
    </div><!--/.nav-collapse -->
  </div>
  <div id="container-fluid" >
    <div class="col-md-1">
    </div>
    <div class="col-md-10 content">
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <script type="html/template" id="employer-template">
    <div class="row">
      <div class="col-md-12">
        <div class="row employer_row">
          <div class="col-md-2 employer_img">
             <a href='#mypage/<%%- user.id %>'>
                <%% if (user.avatar_url == "noavatar") { %>
                  <img class="no-profile-img"/>
                <%% } else {%>
                  <img src=<%%- user.avatar_url %> alt="" class="profile-img" />
                <%% } %>
             </a>
          </div>
          <div class="col-md-10">
            <label><%%- user.lastname %></label>
            <label><%%- user.firstname %></label>
            <br>
            <label><%=l(:project_title)%>:</label>            
            <%% if ($.parseJSON(user.data) !== null) { %>              
               <label><%%= $.parseJSON(user.data).project%></label>
            <%% } %>
            <br>
            <label><%=l(:project_extra_title)%>:</label>            
            <%% if ($.parseJSON(user.data) !== null) { %>              
               <label><%%= $.parseJSON(user.data).project_extra%></label>
            <%% } %>
            <br>
            <label><%=l(:room_number)%>:</label>            
            <%% if ($.parseJSON(user.data) !== null) { %>              
               <label><%%= $.parseJSON(user.data).room_number%></label>
            <%% } %>          
          </div>
        </div>
        <hr>
      </div>
    </div>
  </script>
	<script type="text/template" id="profile-template">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<table class="profile-table">
						<tr>
<!-- FOTO_AVATAR -->
							<td width=240 height=320>
								<div class="col-md-2">              
									<div class="profile-div">
										<%% if (user.avatar_url === "noavatar") { %>
											<img class="profile-img no-profile-img"/>
										<%% } else {%>
											<img src=<%%- user.avatar_url %> alt="" class="profile-img" />
										<%% } %>
										<div class="profile-img-save profile-img-save-hide">
											<button type="button" class="btn btn-primary">Save</button>
										</div>
									</div>
								</div>
							</td>
<!-- RIGHT SHORT SUMMARY -->
							<td>
							<div class="row">
								<table width="550">
									<tr><td>
										<div class="profile-status">
											<h3><%%-user.firstname%> <%%-user.lastname %></h3>
										</div>
									</td><td>
										<button type="button" class="btn cv"/>
									</td></tr>
									<tr><td colspan="2">
										<b><%=l(:project_title)%>:</b>
										<div class="editable profile-data" data-button-class="default" data-prop="project">
											<%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).project)) { %>
												<%%- $.parseJSON(user.data).project %>
											<%% } else {%>
												Put project here
											<%% } %>
										</div>                    
									</td></tr>
									<tr><td colspan="2">
										<b><%=l(:position_title)%>:</b>
										<div class="editable profile-data" data-button-class="default" data-prop="position">
											<%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).position)) { %>
												<%%- $.parseJSON(user.data).position %>
											<%% } else {%>
												Put position here
											<%% } %>
										</div>                 
									</td></tr>
									<tr><td colspan="2"><b><%=l(:email_title)%>:</b><%%-user.mail%></td></tr>
									<tr><td colspan="2"><b><%=l(:room_number)%>:</b>TBD</td></tr>
									<tr><td colspan="2">
										<div>
											<b><%=l(:birthday_title)%>:</b>
											<div class="editable profile-data" data-button-class="default" data-prop="birthday">
												<%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).birthday)) { %>
													<%%- $.parseJSON(user.data).birthday %>
												<%% } else {%>
													Put birthday here
												<%% } %>
											</div>                 
										</div>
									</td></tr>              
									<tr><td colspan="2"><b><%=l(:interest_title)%>:</b>TBD</td></tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>

<!-- SUMMARY О себе -->
	<div class="row">
		<div class="col-md-10">
			<h4>
				<img class="point-img"/>
				<%=l(:summary_title)%>
			</h4>            
		</div>        
		<hr>
		<div class="col-md-10">                    
			<div class="editable" data-button-class="default" data-prop="summary">
				<%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).summary)) { %>
					<%%- $.parseJSON(user.data).summary %>
				<%% } else {%>
					Summary
				<%% } %>
			</div>            
		</div>
	</div>

<!-- SKILLS Технические навыки -->
	<div class="row">
		<div class="col-md-10">
			<h4>
				<img class="point-img"/>
				<%=l(:skills_title)%>
			</h4>            
		</div>        
		<hr>
		<div class="col-md-10">                    
              <div class="editable" data-button-class="all" data-prop="skills">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).skills)) { %>
                  <%%= $.parseJSON(user.data).skills %>
                <%% } else {%>
                  Skills
                <%% } %>
              </div>             
		</div>
	</div>

<!-- communication_skills -->
	<div class="row">
		<div class="col-md-10">
			<h4>
				<img class="point-img"/>
				<%=l(:communication_skills_title)%>
			</h4>            
		</div>        
		<hr>
		<div class="col-md-10">                    
              <div class="editable" data-button-class="all" data-prop="skills">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).skills)) { %>
                  <%%= $.parseJSON(user.data).skills %>
                <%% } else {%>
                  Skills
                <%% } %>
              </div>             
		</div>
	</div>

<!-- languages -->
	<div class="row">
		<div class="col-md-10">
			<h4>
				<img class="point-img"/>
				<%=l(:languages_title)%>
			</h4>            
		</div>        
		<hr>
		<div class="col-md-10">                    
              <div class="editable" data-button-class="all" data-prop="skills">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).skills)) { %>
                  <%%= $.parseJSON(user.data).skills %>
                <%% } else {%>
                  Skills
                <%% } %>
              </div>             
		</div>
	</div>

<!-- education -->
	<div class="row">
		<div class="col-md-10">
			<h4>
				<img class="point-img"/>
				<%=l(:education_title)%>
			</h4>            
		</div>        
		<hr>
		<div class="col-md-10">                    
              <div class="editable" data-button-class="all" data-prop="skills">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).skills)) { %>
                  <%%= $.parseJSON(user.data).skills %>
                <%% } else {%>
                  Skills
                <%% } %>
              </div>             
		</div>
	</div>

<!-- coureses -->
	<div class="row">
		<div class="col-md-10">
			<h4>
				<img class="point-img"/>
				<%=l(:coureses_title)%>
			</h4>            
		</div>        
		<hr>
		<div class="col-md-10">                    
              <div class="editable" data-button-class="all" data-prop="skills">
                <%% if (($.parseJSON(user.data) !== null) && ($.parseJSON(user.data).skills)) { %>
                  <%%= $.parseJSON(user.data).skills %>
                <%% } else {%>
                  Skills
                <%% } %>
              </div>             
		</div>
	</div>

  </script>
</body>
<h4>
